body {
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.4285em;
}

.menu {
    border-radius:0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.menu .item img.logo {
    margin-right: 1.5em !important;
}

.main.container {
    margin-top: 7em;
}

#mailcard {
    width: 100% !important;
}

#shortid {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.mailaddress {
    font-size: 1.14285714rem !important;
}